[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = ">=3.*"
gunicorn = "*"
uvicorn = "*"
httpie = "*"
aiofiles = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
